* {
    border: 1px solid black;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.prompt {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 100vw;
    flex: 1;
}

.row {
    display: flex;
    width: 100vw;
    flex: 1;
}

.cell {
    display: flex;
    flex: 1;
}

.cell-hover {
    display: flex;
    flex: 1;
    background-color: black;
}
